[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rTRIPLEXCWFlux"]
	path = rTRIPLEXCWFlux
	url = https://github.com/shulansun/rtriplex_cw_flux
